body {
    font-family: 'Arial', sans-serif;
    background-color: #f3f4f6;
    color: #333;
    margin: 0;
    padding: 0;
    transition: background-color 0.5s ease, color 0.5s ease;
}

header {
    background-color: #1F2833;
    padding: 20px 0;
    text-align: center;
    animation: fadeInDown 1s ease-in-out;
}

header h1 {
    color: #66FCF1;
    margin: 0;
}

header p, header a {
    color: #C5C6C7;
    margin: 5px 0;
    text-decoration: none;
}

header a:hover {
    color: #66FCF1;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    color: #f5f7f7;
    margin: 0 10px;
    font-size: 1.5em;
    transition: color 0.3s ease-in-out;
}

.social-icons a:hover {
    color: #45A29E;
}

.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px 0;
    animation: fadeInUp 1s ease-in-out;
}

h2 {
    border-bottom: 2px solid #45A29E;
    padding-bottom: 10px;
    color: #0B0C10;
    margin-top: 40px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    background-color: #fff;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
    position: relative;
}

li:hover {
    background-color: #7afef5;
    transform: scale(1.05);
}

section:hover {
    background-color: #ecedea;
    color: #0B0C10;
}

footer {
    background-color: #1F2833;
    text-align: center;
    padding: 10px 0;
    animation: fadeIn 2s ease-in-out;
}

footer p {
    margin: 0;
    color: #66FCF1;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeInUp {
    from { transform: translateY(20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}

@keyframes fadeInDown {
    from { transform: translateY(-20px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}
.certificate-link {
    display: inline-block;
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
    margin-right: 10px;
    position: relative;
}

.certificate-link::after {
    content: "\f0c1";
    font-family: 'Arial', sans-serif;
    /* Font Awesome icon code for link */
    font-family: "Font Awesome 5 Free"; /* Ensure you have Font Awesome included */
    font-weight: 700;
    margin-left: 5px;
}

.certificate-link:hover {
    text-decoration: underline;
}
